* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Paleta de colores*/
.tarjetas {
  display: flex;
  flex-direction: column;
}

.tarjetas .tarjeta__contenido {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 1rem 0;
}

.tarjetas .tarjeta__contenido h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.tarjetas .tarjeta__contenido p {
  padding: 5px;
}

.tarjetas .tarjeta__contenido img {
  width: 250px;
  padding: 5px;
  justify-self: center;
  align-self: center;
}

.tarjetas .tarjeta__contenido button {
  width: 150px;
}

@media screen and (min-width: 1024px) {
  .tarjetas {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.tarjeta__boton, .tarjetas .tarjeta__contenido button, .proximos_eventos button {
  text-align: center;
  margin-top: 5px;
  margin: 5px 5px;
  border: none;
  border-radius: 5px;
  background-color: #6FBFD6;
  padding: 10px 15px;
}

.tarjeta__boton a, .tarjetas .tarjeta__contenido button a, .proximos_eventos button a {
  text-decoration: none;
  color: white;
}

.banner1, .banner2, .banner3, .banner4 {
  background-image: url("../img/banners/banner1.jpg");
  width: 100%;
  height: 300px;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
}

.banner1 h1, .banner2 h1, .banner3 h1, .banner4 h1 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  text-align: center;
}

.banner2 {
  background-image: url("../img/banners/banner2.jpg");
}

.banner3 {
  background-image: url("../img/banners/banner3.jpg");
}

.banner4 {
  background-image: url("../img/banners/banner4.jpg");
}

article, .proximos_eventos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
}

article img, .proximos_eventos img {
  width: 250px;
  padding: 5px;
  justify-self: center;
  align-self: center;
}

article h2, .proximos_eventos h2 {
  font-weight: bold;
}

article p, .proximos_eventos p {
  padding: 0 auto;
}

article p span, .proximos_eventos p span {
  font-weight: bolder;
}

.variedades_cafe {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.variedades_cafe h2 {
  text-align: center;
  font-weight: bold;
}

.variedades_cafe h3 {
  text-align: center;
}

.variedades_cafe img {
  margin: 5px;
}

@media screen and (min-width: 1024px) {
  article, .proximos_eventos {
    display: flex;
    flex-flow: row wrap;
  }
  article h2, .proximos_eventos h2 {
    margin: 0 auto;
  }
  article img, .proximos_eventos img {
    width: 300px;
  }
  .variedades_cafe {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.proximos_eventos button {
  width: 200px;
}

@media screen and (min-width: 1024px) {
  .proximos_eventos {
    display: flex;
    flex-flow: row wrap;
  }
  .proximos_eventos h2 {
    margin: 0 auto;
  }
  .proximos_eventos img {
    width: 300px;
  }
}

.contenedor__contacto {
  display: flex;
  flex-direction: column;
}

.contenedor__contacto form {
  margin: 15px 5px;
  padding: 5px;
}

.contenedor__contacto form label {
  margin: 5px 0;
  font-weight: 600;
}

.contenedor__contacto form input {
  margin: 5px;
}

.contenedor__contacto form textarea {
  margin: 5px 5px;
}

.contenedor__contacto form .input__botones {
  background-color: #6FBFD6;
  color: white;
  width: 150px;
  padding: 10px;
  border: none;
}

@media screen and (min-width: 1024px) {
  .contenedor__contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .contenedor__contacto .input__botones:hover {
    background-color: #A59FD1;
  }
}

.galeria {
  display: flex;
  flex-direction: column;
}

.galeria .galeria__tomar {
  margin: 15px;
}

.galeria .galeria__comer {
  margin: 15px;
}

.galeria h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.galeria img {
  width: 250px;
  height: 250px;
}

@media screen and (min-width: 1024px) {
  .galeria {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

ul li {
  list-style: none;
}

body {
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: 1f 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header header" "main main" "footer footer";
}

body header {
  grid-area: header;
  width: 100%;
}

body main {
  grid-area: main;
}

body footer {
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  background-color: #5D5885;
  color: white;
  padding: 5px;
}

body footer a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 5px;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
}
/*# sourceMappingURL=style.css.map */